<template name="home">
    {{#ionNavView}}
        {{#contentFor "headerTitle"}}
            <h1 class="title">QwikLife</h1>
        {{/contentFor}}
        {{#contentFor "headerButtonLeft"}}
            <button class="button button-clear pull-left" data-ion-menu-toggle="left">
                {{#if isAndroid}}
                    {{> ionIcon icon='android-more-vertical'}}
                {{else}}
                    {{> ionIcon icon='navicon'}}
                {{/if}}
            </button>
        {{/contentFor}}
        {{#ionView}}
            {{#ionContent}}
            {{/ionContent}}
        {{/ionView}}
    {{/ionNavView}}
</template>